```text
streamlit
python-dotenv

langchain
langchain-core
langchain-community
langchain-groq
langchain-huggingface
langchain-chroma
langchain-experimental

chromadb

sentence-transformers
huggingface-hub

pypdf

torch
torchvision

numpy
```
